@charset "utf-8";

:root {
  --app-blue: #334750;
  --app-green: #31AF36;
  --app-gray: #CECECE;
  --app-dark-gray: #494949;
  --app-orange: #FF5E07;
  --app-lighter-gray: #E5E5E5;
  --app-white: #fff;
}
